<li class="breaking">
  <%= link_to section.title, "#" + section.id.to_s , class: "text-blue-500 hover:underline"  %>

  <ul class="pl-8 section" style="list-style-type: circle;">
    <% section.sub_sections.each do |sub| %>
      <% if sub.sub_sections.any? %>
        <%= render partial: "home/sub_section", locals: { section: sub } %>
      <% else %>
        <li>
          <%= link_to sub.title, "#" + sub.id.to_s, class: "text-blue-500 hover:underline"  %>
        </li>
      <% end  %>
    <% end %>
  </ul>
</li>
