<h2 class="text-theme-gray border-t-4 border-b-4 border-theme-gray py-3 text-center text-3xl header">Topic Order</h2>

<ul class="list-disc ml-3" style="column-count: 2;">
  <% @sections.each do |section| %>
    <%= render partial: "home/sub_section", locals: { section: section } %>
  <% end %>
</ul>

<hr class="my-6 h-[5px] bg-theme-red border-none" />

<ul class="mt-4 ml-3">
  <% @sections.each do |section| %>
    <%= render partial: "home/sub_topic", locals: { section: section } %>
  <% end %>
</ul>
